*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// Font Variables

// body 
$body-sm-size: 0.75rem; // 12px
$body-sm-lineheight: 1.125rem; // 18px

$body-size: 0.875rem; // 14px
$body-lineheight: 1.25rem; // 20px

//serif body
$serif-body-size: 1.125rem; // 20px
$serif-body-lineheight: 2rem; // 32px

// all caps 
$all-caps-10-size: 0.625rem; // 10px
$all-caps-10-lineheight: 0.875rem; // 14px
$all-caps-letterspacing: 0.05rem; // 0.8px

$all-caps-12-size: 0.75rem; // 12px
$all-caps-12-lineheight: 1rem; // 16px

$all-caps-14-size: 0.875rem; // 14px
$all-caps-14-lineheight: 1.125rem; // 18px


//h1
$heading-h1-size: 1.875rem; // 30px
$heading-h1-lineheight: 2.25rem; // 36px
$heading-tags-letterspacing: -0.025rem; // -0.4px

//h2
$heading-h2-size: 1.5rem; // 24px
$heading-h2-lineheight: 2rem; // 32px

//h3
$heading-h3-size: 1.25rem; // 20px
$heading-h3-lineheight: 1.75rem; // 28px

//h4
$heading-h4-size: 1.125rem; // 18px
$heading-h4-lineheight: 1.5rem; // 24px

//h5
$heading-h5-size: 1rem; // 16px
$heading-h5-lineheight: 1.25rem; // 20px


// Body Small (body-sm)
.body-sm,
.body-sm-bold {
  font-size: $body-sm-size;
  line-height: $body-sm-lineheight;
}

.body-sm-bold {
  font-weight: 600;
}

//body
.body,
.body-bold {
  font-size: $body-size;
  line-height: $body-lineheight;
}


//serif body
.serif-body {
  font-size: $serif-body-size;
  line-height: $serif-body-lineheight;
}

// for bold classes
.body-bold,
.body-sm-bold,
.all-caps-10-bold,
.all-caps-12-bold,
.all-caps-14-bold {
  font-weight: 600;
}

// All Caps 10
.all-caps-10,
.all-caps-10-bold {
  font-size: $all-caps-10-size;
  line-height: $all-caps-10-lineheight;
  text-transform: uppercase;
  letter-spacing: $all-caps-letterspacing;
}

.all-caps-10-bold {
  font-weight: 600;
}

// All Caps 12
.all-caps-12,
.all-caps-12-bold {
  font-size: $all-caps-12-size;
  line-height: $all-caps-12-lineheight;
  text-transform: uppercase;
  letter-spacing: $all-caps-letterspacing;
}

// All Caps 14
.all-caps-14,
.all-caps-14-bold {
  font-size: $all-caps-14-size;
  line-height: $all-caps-14-lineheight;
  text-transform: uppercase;
  letter-spacing: $all-caps-letterspacing;

}

// Heading H1
.heading-h1 {
  font-size: $heading-h1-size;
  line-height: $heading-h1-lineheight;
  letter-spacing: $heading-tags-letterspacing;
  font-weight: 600;
}

// Heading H2
.heading-h2 {
  font-size: $heading-h2-size;
  line-height: $heading-h2-lineheight;
  letter-spacing: $heading-tags-letterspacing;
  font-weight: 600;
}

// Heading H3
.heading-h3 {
  font-size: $heading-h3-size;
  line-height: $heading-h3-lineheight;
  letter-spacing: $heading-tags-letterspacing;
  font-weight: 600;
}

// Heading H4
.heading-h4 {
  font-size: $heading-h4-size;
  line-height: $heading-h4-lineheight;
  letter-spacing: $heading-tags-letterspacing;
  font-weight: 600;
}

// Heading H5
.heading-h5 {
  font-size: $heading-h5-size;
  line-height: $heading-h5-lineheight;
  letter-spacing: $heading-tags-letterspacing;
  font-weight: 600;
}

//colors

$white: #FFFFFF;
$grey50: #FDFBF8;
$grey100: #F3F1ED;
$grey200: #EBE7E1;
$grey300: #E0DCD7;
$grey400: #D7D4CF;
$grey500: #B2B0AE;
$grey600: #757575;
$grey700: #525456;
$grey800: #3D3E40;
$grey900: #282827;
$grey950: #1A1917;
$green: #00FF95;
$alert: #E13A3A;


// for Text Colors
.custom-text-white {
  color: $white;
}

.custom-text-grey50 {
  color: $grey50;
}

.custom-text-grey100 {
  color: $grey100;
}

.custom-text-grey200 {
  color: $grey200;
}

.custom-text-grey300 {
  color: $grey300;
}

.custom-text-grey400 {
  color: $grey400;
}

.custom-text-grey500 {
  color: $grey500;
}

.custom-text-grey600 {
  color: $grey600;
}

.custom-text-grey700 {
  color: $grey700;
}

.custom-text-grey800 {
  color: $grey800;
}

.custom-text-grey900 {
  color: $grey900;
}

.custom-text-grey950 {
  color: $grey950;
}

.custom-text-green {
  color: $green;
}

.custom-text-alert {
  color: $alert;
}

//for border colors
.custom-border-white {
  border-color: $white;
}

.custom-border-grey50 {
  border-color: $grey50;
}

.custom-border-grey100 {
  border-color: $grey100;
}

.custom-border-grey200 {
  border-color: $grey200;
}

.custom-border-grey300 {
  border-color: $grey300;
}

.custom-border-grey400 {
  border-color: $grey400;
}

.custom-border-grey500 {
  border-color: $grey500;
}

.custom-border-grey600 {
  border-color: $grey600;
}

.custom-border-grey700 {
  border-color: $grey700;
}

.custom-border-grey800 {
  border-color: $grey800;
}

.custom-border-grey900 {
  border-color: $grey900;
}

.custom-border-grey950 {
  border-color: $grey950;
}

.custom-border-green {
  border-color: $green;
}

.custom-border-alert {
  border-color: $alert;
}


// for Background Colors
.background-custom-white {
  background-color: $white;
}

.background-custom-grey50 {
  background-color: $grey50;
}

.background-custom-grey100 {
  background-color: $grey100;
}

.background-custom-grey200 {
  background-color: $grey200;
}

.background-custom-grey300 {
  background-color: $grey300;
}

.background-custom-grey400 {
  background-color: $grey400;
}

.background-custom-grey500 {
  background-color: $grey500;
}

.background-custom-grey600 {
  background-color: $grey600;
}

.background-custom-grey700 {
  background-color: $grey700;
}

.background-custom-grey800 {
  background-color: $grey800;
}

.background-custom-grey900 {
  background-color: $grey900;
}

.background-custom-grey950 {
  background-color: $grey950;
}

.background-custom-green {
  background-color: $green;
}

.background-custom-alert {
  background-color: $alert;
}


//style for center container
.page-center-parent-container {
  height: 100vh;
  min-width: 200px;
  // overflow: hidden;
  min-height: 560px;
  aspect-ratio: 16 / 9;
  width: 52.7vh;
}

