* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




//header

//section

//style for video container
.login-page-video-container {
    height:50vh;
    min-width: 200px;
    overflow: hidden;
    min-height: 2000px;
    aspect-ratio: 16 / 9;
    width: 52.7vh;
}
